
h1{
    color:#f1f3f8;
}
 .banner-header p{
    color:#393b44;
}
@media (min-width: 992px){
    .empty-space.col-md-b100 {
        height: 100px;
        margin-bottom: 0;
    }
    .col-md-b100 {
        margin-bottom: 100px;
    }
    .col-md-b0 {
        margin-bottom: 0;
    }
    .empty-space.col-md-b100 {
        height: 100px;
        margin-bottom: 0;
    }
    .col-md-b100 {
        margin-bottom: 100px;
    }
    .empty-space.col-md-b60 {
        height: 60px;
        margin-bottom: 0;
    }
    .col-md-b60 {
        margin-bottom: 60px;
    }
    .section-search{
        padding: 200px 0;
    }
}

.navbar-toggler-icon {
    background-image: url("https://www.flaticon.com/svg/static/icons/svg/1320/1320259.svg")!important;
}

.col-xs-b30 {
    margin-bottom: 30px;
}
.col-xs-b40 {
    margin-bottom: 40px;
}
.col-xs-b70 {
    margin-bottom: 70px;
}


.empty-space {
    position: relative;
}

.empty-space.col-xs-b30 {
    height: 30px;
    margin-bottom: 0;
}

.empty-space.col-xs-b40 {
    height: 40px;
    margin-bottom: 0;
}
.empty-space.col-xs-b70 {
    height: 70px;
    margin-bottom: 0;
}
.section-search{
    background: #f9f9f9 url('/images/Medical05.jpg') no-repeat  center;
    object-fit: cover;
    background-blend-mode: Darken;
    padding:250px 0px;
    margin-top: -70px;
}
.banner-wrapper{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
button.search-btn{
    width:100%;
    background-color:#e8505b;
    color:#f1f3f8 ;
    font-weight: 800;
}
button.search-btn:hover{
    color: #f9d56e;
}
.tm-icon-box{
    padding-left: 65px;
    position: relative;
}
.tm-icon{
    position: absolute;
    left: 15px;
    top: 3px;
    font-size: 36px;
    color: #14b1ab;
}
.tm-icon-box-title{
    font-size: 24px;
    margin-bottom:0 ;
    font-weight: 500;
    letter-spacing: 0.25px;
}
.tm-icon-box-text{
    margin-bottom:0 ;
    margin-top: 12px;
}

.tm-section-heading {
    max-width: 1140px;
    padding: 0 15px;
    margin: auto;
}
.tm-section-seperator {
    height: 15px;
    width: 170px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.stars {
    height: auto;
    color: gold;
    text-align: center;
}
.stars:after {
    content: "★";
    font-size: 2em;
    text-shadow: -2em 0, -1em 0, 1em 0, 2em 0;
}

/* Navbar */
.transparent{
    position: fixed;
    top: 0;
    transition:500ms ease;
    transition: background-color 200ms linear;
}

nav.navbar{
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}
nav.navbar.navbar-fixed-top{
    transition:500ms ease;
    background-color: #14b1ab;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 1;
    transition: background-color 200ms linear;
    z-index: 2;
}

.text-color{
    color: #f3ecc2;
    font-size: 17px;
}
.text-color:hover{
    color:#f9d56e;
}

.navbar-brand{
    font-size: 23px;
}

/*End of Navbar*/



/* Footer */

footer{
    background-color: #14b1ab;
    padding:30px 0px;
}	       

.logo{
   color:#FFF;
   font-weight:700;
   font-size:30px;
}

.address span , .menu span{
  color: #FFF; 
  font-weight: bold; 
  border-bottom: 1px solid #c7c7c7; 
  padding:10px 0px;
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 3px;
}

.address li a , .menu li a{
   color:#FFF;
   letter-spacing: 3px;
   text-decoration:none;
   font-size:14px;
}

.address li, .menu li{
   margin:20px 0px;
   list-style: none;
}

.address li a:hover , .menu li a:hover{
   color: #da3e44;
   -webkit-transition: all 1s ease-in-out;
   -moz-transition: all 1s ease-in-out;
   -o-transition: all 1s ease-in-out;
   transition: all 1s ease-in-out;
}

.address .fa{
   color: #da3e44;
   margin-right: 10px;
   font-size:18px;
}

/* End Of Footer */

.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.navbar .dropdown-menu a:hover {
    color: #616161 !important;
}
.darken-grey-text {
    color: #2E2E2E;
}


.div-border{
    border: #14b1ab 0.5px solid;
    background-color: white;
}

#sticky{
    position: sticky;
    position: -webkit-sticky;
    height: 100%;
    left:0;
    top:70px;
    
}
.upper-div{
    background: #f9f9f9 url('/images/Medical05.jpg') no-repeat top   center;
    object-fit: cover;
    background-blend-mode: Darken;
    padding-top:180px ;
    padding-bottom: 50px;
}
.filter-div{
    background-color: #14b1ab;
    color: #f3ecc2;
    text-align: center;
    font-size: 16px;
    padding: 8px 12px;
}
.filter-text{
    color: #14b1ab;
    font-size: 16px;
    padding: 8px 12px;
}

.hr-color{
    color: #14b1ab;
    background-color: #14b1ab;
}
.doc-img{    
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
}
.location-icon{
    background-image: url("https://www.flaticon.com/svg/static/icons/svg/1001/1001022.svg")!important;
   
}
.colorize-icon{
    color: #da3e44;
}
.img-div{
    width: auto!important;
    height: 100%;
    padding-left:35px!important;

    padding-top: 15px;
    padding-bottom:15px;
}

.weekDays-selector input {
    display: none!important;
  }
  
  .weekDays-selector input[type=checkbox] + label {
    display: inline-block;
    border-radius: 6px;
    background: #dddddd;
    height: 40px;
    width: 30px;
    margin-right: 3px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
  }
  
  .weekDays-selector input[type=checkbox]:checked + label {
    background: #4704ff;
    color: #ffffff;
  }